body {
    margin: 0;
}
canvas {
    border: 1px solid black;
    position: relative;
}
#settings {
    position: absolute;
    width:40%;
    height: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4px;
    color:white;
    background-color: rgb(29, 53, 87, 0.7);
    font-size: small;
    border-radius: 10px;
}
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left:4px;
}
input {
    width:20%;
}
#p-speed {
    width:40%
}
button {
    margin-top: 5px;
}


@media(min-width:375px) {
    #settings {
        width:40%;
    }
}
@media(min-width:768px) {
    #settings {
        width:25%;
    }
}
@media(min-width:1024px) {
    #settings {
        width:15%;
    }
}
@media(min-width:1440px) {
    #settings {
        width:15%;
    }
    input {
        width:30%;
    }
    #p-speed {
        width:50%
    }
    button {
        margin-top: 15px;
    }
}