body {
    margin: 0;
}
canvas {
    border: 1px solid black;
    position: relative;
}
#settings {
    position: absolute;
    width:40%;
    height: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4px;
    color:white;
    background-color: blueviolet;
    font-size: small;
}
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left:4px;
}
input {
    width:20%;
}
#p-speed {
    width:40%
}